---
import fs from "fs";
import path from "path";
import matter from "gray-matter";
import { marked } from "marked";
import { fileURLToPath } from "url";

const { src } = Astro.props;

// Resolve absolute path relative to project root
const __filename = fileURLToPath(import.meta.url);
const __dirname = path.dirname(__filename);

// Combine __dirname with src
const absolutePath = path.resolve(src);

const file = fs.readFileSync(absolutePath, "utf-8");
const { content } = matter(file);
---

<div innerHTML={marked(content)}></div>
